<!DOCTYPE html>
<html ng-app="app" ng-controller="meterController">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body  ng-cloak>
   
    {{name}}

   <!--  <table>
        <tr>
            <th>Sequence Id</th>
            <th>Meter</th>
            <th>Date</th>
            <th>Connection</th>
        </tr>
        <tr ng-repeat="meter in meters | orderBy : 'Sequenceid' |  slice : 1 : 10  ">
            <td>{{meter.Sequenceid}}</td>
            <td>{{meter.Meter}}</td>
            <td>{{meter.Dateinmeter}}</td>
            <td>{{meter.ConnectionStatus}}</td>

        </tr>
    </table> -->
    <!-- <ul ng-repeat="(key, value) in data  | limitTo : 100 | groupBy: 'Meter' ">
        Meter name: {{ key }}
        <li ng-repeat="meter in value | orderBy : 'Dateinmeter'">
          Date : {{ meter.Dateinmeter }} - {{meter.ConnectionStatus}} 
        </li>
      </ul> -->
    {{data.length}}
    <ul><li ng-repeat="meter in meterwiseRecords">
        {{meter}}
    </li></ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
    <script src="main.js"></script>
    <script src="jsonToCSV.js"></script>
    
</body>
</html>