<!DOCTYPE html>
<html ng-app="app" ng-controller="meterController">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body  ng-cloak>
   
    {{name}}

    <table style="border: 1px solid red; border-collapse: collapse" >
        <tr>
            <th>Meter</th>
            <th>Data</th>
        </tr>
        <tr ng-repeat="meter in meterWiseRecords | orderBy : 'meter' | slice : 1 : 5">
            <td>{{meter.meter}}</td>
            <td>
                <table>
                    <tr ng-repeat = "data in meter.records">
                        <td>
                            {{data.Dateinmeter}}
                        </td>
                        <td>{{data.ConnectionStatus}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- <ul ng-repeat="(key, value) in data  | limitTo : 100 | groupBy: 'Meter' ">
        Meter name: {{ key }}
        <li ng-repeat="meter in value | orderBy : 'Dateinmeter'">
          Date : {{ meter.Dateinmeter }} - {{meter.ConnectionStatus}} 
        </li>
      </ul> -->
    {{data.length}}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
    <script src="main.js"></script>
    <script src="jsonToCSV.js"></script>
    
</body>
</html>