<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="image-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="button-group">
      <button class="btn btn-primary dropdown-toggle" type="button">
        Manage Recipe <span><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu">
        <a href="#"> Add Ingredients</a>
        <a href="#"> Edit Recipe</a>
        <a href="#"> Delete Recipe</a>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Recipe Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Recipe Ingredients
  </div>
</div>